<!doctype html>
<html class="no-js" lang="">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T9HHBSWW');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Anova | Tak for din booking</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|Oswald:400,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/pages.css">

    <!-- MODERNIZR -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZ2745VQX3X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CZ2745VQX3X');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17428130272"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-17428130272');
    </script>
</head>
<body class="contact-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9HHBSWW"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- PRELOADER -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- // PRELOADER -->

    <header>
        <!-- NAVBAR -->
        <nav class="navbar navbar-default">
            <div class="container">

                <!-- NAVBAR BRAND AND HAMBURGER ICON -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="book">
                        <img alt="Bestil tid med Anova" src="img/logo.png">
                    </a>
                </div>

                <!-- NAVBAR LINKS -->
                <div class="collapse navbar-collapse navbar-right" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="home" style="font-weight: bold;font-size: 2.5rem;">Home</a></li>
                        <li><a href="price" style="font-weight: bold;font-size: 2.5rem;">Priser</a></li>
                        <li><a href="gallery">Gallery</a></li>
                        <li><a href="contact">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- THANK YOU SECTION -->
    <section class="space">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center" style="padding: 80px 20px;">
                    <i class="fa fa-check-circle" style="font-size: 80px; color: #c9a96e; margin-bottom: 30px;"></i>
                    <h1 style="margin-bottom: 20px;">Tak for din booking!</h1>
                    <p style="font-size: 1.8rem; margin-bottom: 30px;">
                        Vi glæder os til at se dig i Salon Anova. Du vil modtage en bekræftelse snarest.
                    </p>
                    <a href="book" class="btn btn-default btn-colored" style="margin-right: 10px;">Book en ny tid</a>
                    <a href="home" class="btn btn-bordered btn-dark">Tilbage til forsiden</a>
                </div>
            </div>
        </div>
    </section>
    <!-- // THANK YOU SECTION -->

    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 space-mb">
                        <h4>Om Os</h4>
                        <p>
                            Salon Anova,<BR />
                            Address: Amagerbrogade 219, 2300 København S
                        </p>
                        <span class="contact"><i class="fa fa-phone"></i>+45 41 42 33 33</span>
                    </div>
                    <div class="col-md-4 space-mb">
                        <h4 style="display:none;">Photo Stream</h4>
                        <div class="stream" style="display:none;"></div>
                    </div>
                    <div class="col-md-4">
                        <h4>Følg os</h4>
                        <ul class="social">
                            <li><a href="#" style="display:none;"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" style="display:none;"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/salon_anova_?igsh=a3ZrMGF1YWxicnMy"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <p>© Zawia</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JQUERY / PLUGINS -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/owl.carousel.min.js"></script>
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="js/vendor/circle-progress.js"></script>

    <!-- MAIN JS FOLDER -->
    <script src="js/main.js"></script>
</body>
</html>
