<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="book">
                    <img alt="Bestil tid med Anova" src="img/logo.png" />
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navbar">
                <ul class="nav navbar-nav">
                    <li><a href="home" style="font-weight: bold; font-size: 2.5rem">Home</a></li>
                    <li><a href="price" style="font-weight: bold; font-size: 2.5rem">Priser</a></li>
                    <li><a href="gallery">Gallery</a></li>
                    <li><a href="contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="space">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center" style="padding: 80px 20px">
                <i class="fa fa-check-circle" style="font-size: 80px; color: #c9a96e; margin-bottom: 30px"></i>
                <h1 style="margin-bottom: 20px">Tak for din booking!</h1>
                <p style="font-size: 1.8rem; margin-bottom: 30px">Vi glaeder os til at se dig i Salon Anova. Du vil
                    modtage en bekraeftelse snarest.</p>
                <a href="book" class="btn btn-default btn-colored" style="margin-right: 10px">Book en ny tid</a>
                <a href="home" class="btn btn-bordered btn-dark">Tilbage til forsiden</a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="footer-main">
        <div class="container">
            <div class="row">
                <div class="col-md-4 space-mb">
                    <h4>Om Os</h4>
                    <p>
                        Salon Anova,<br />
                        Address: Amagerbrogade 219, 2300 Kobenhavn S
                    </p>
                    <span class="contact"><i class="fa fa-phone"></i>+45 41 42 33 33</span>
                </div>
                <div class="col-md-4 space-mb">
                    <h4 style="display: none">Photo Stream</h4>
                    <div class="stream" style="display: none"></div>
                </div>
                <div class="col-md-4">
                    <h4>Folg os</h4>
                    <ul class="social">
                        <li><a href="#" style="display: none"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#" style="display: none"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/salon_anova_?igsh=a3ZrMGF1YWxicnMy"><i
                                    class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <p>(c) Zawia</p>
            </div>
        </div>
    </div>
</footer>