<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Frisør København | Anova Salon – Dame & Herreklip</title>
    <meta name="description" content="Anova Salon på Amagerbrogade i København tilbyder professionel dameklip, herreklip og børneklip. Book tid online i dag.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Canonical -->
    <link rel="canonical" href="https://www.anova.dk/">

    <!-- Open Graph -->
    <meta property="og:title" content="Frisør København | Anova Salon – Dame & Herreklip">
    <meta property="og:description" content="Book tid hos Anova Salon på Amagerbrogade i København. Professionel frisør for mænd, kvinder og børn.">
    <meta property="og:image" content="https://www.anova.dk/img/og-image.jpg">
    <meta property="og:url" content="https://www.anova.dk/">
    <meta property="og:type" content="website">

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Frisør København | Anova Salon – Dame & Herreklip">
    <meta name="twitter:description" content="Bestil tid online hos Anova Salon – din frisør på Amagerbrogade, København.">
    <meta name="twitter:image" content="https://www.anova.dk/img/og-image.jpg">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|Oswald:400,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/pages.css">

    <!-- MODERNIZR -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    
    <script type="application/ld+json">
        {
          "name": "Anova Salon",
          "image": "https://www.anova.dk/img/logo.png",
          "address": {
            "streetAddress": "Amagerbrogade 219",
            "addressLocality": "København S",
            "postalCode": "2300",
            "addressCountry": "DK"
          },
          "telephone": "+45 41423333",
          "url": "https://www.anova.dk/"
        }
    </script>
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CZ2745VQX3X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-CZ2745VQX3X');
    </script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-17428130272"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-17428130272');
    </script>
</head>
<body class="homepage">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- PRELOADER -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- // PRELOADER -->

    <header>
        <!-- NAVBR -->
        <nav class="navbar navbar-default">
            <div class="container">

                <!-- NAVBAR BRAND AND HAMBURGER ICON -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="book">
                        <img alt="Bestil tid med Anova" src="img/logo.png">
                    </a>
                </div>

                <!-- NAVBAR LINKS -->
                <div class="collapse navbar-collapse navbar-right" id="navbar">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="home" style="font-weight: bold;font-size: 2.5rem;">Home</a></li>
                        <li><a href="price" style="font-weight: bold;font-size: 2.5rem;">Priser</a></li>
                        @* <li><a href="gallery">Gallery</a></li> *@
                        @*<li><a href="services">Services</a></li>*@
                        @* <li><a href="contact">Kontakt</a></li> *@
                        <li><a href="book" style="font-weight: bold;font-size: 2.5rem;">Bestil Online</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- SECTION 1 - HERO SPLASH -->
    <section class="hero-splash">

        <h3 class="hidden">Hero Slider Images</h3>

        <!-- SLIDER SPLASH IMAGES -->
        <div class="owl-carousel splash-slider">

            <!-- SLIDE -->
            <div>
                <img src="/img/home/background1.png" alt="Background Image">
            </div>

            @*  <!-- SLIDE -->
            <div>
                <img src="/img/home/background2.png" alt="Background Image">
            </div> *@

        </div>
        <div class="container">
            <div class="row">
                <div class="align">
                    <a href="book" style="font-weight: bold;font-size: 2.5rem;">
                        <img src="img/logo-big.png" alt="Bestil tid med Anova">
                    </a>

                </div>
            </div><!-- // .row -->
        </div><!-- // .container -->
    </section>
    <!-- // HERO SPLASH -->
    <!-- SECTION 2 - CTA -->
    <div class="cta cta-colored space">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>We Respect The Heritage of Classic Barbering.</h3>
                </div>
                <div class="col-md-4 cta-buttons">
                    <a href="/book" class="btn btn-default btn-dark">Bestil Online</a>
                    <a href="#" class="btn btn-bordered btn-dark">Read More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- // SECTION 2 -->
    <!-- SECTION 3 - WELCOME -->
    <section class="welcome space">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="welcome-gallery visible-lg">
                        <div class="clerfix">
                            <img src="/img/gallery/gallery1.png" alt="Hair Cut">
                            <img src="/img/gallery/gallery2.png" alt="Hair Cut">
                            <img src="/img/gallery/gallery3.png" alt="Hair Cut">
                        </div>
                        <div class="clerfix">
                            <img src="/img/gallery/gallery3.png" alt="Hair Cut">
                            <img src="/img/gallery/gallery1.png" alt="Hair Cut">
                            <img src="/img/gallery/gallery4.png" alt="Hair Cut">
                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="content">
                        <h2>Velkommen til frisøren</h2>
                        <p>Velkommen til Anova, Salon din nye hårdestination og amatør København. Vi er glade for at åbne vores døre og tilbyde en bred vifte af tjenester for hele familien. Uanset om du er en mand, kvinde, barn eller senior, er vi her for at imødekomme alle dine hårbehov på en Nova Salon.</p>
                        <p>Vores erfarne stylister er forpligtet til at give dig tjenester af højeste kvalitet. Brug af de bedste produkter i eller afslappende og venlige omgivelser. Vi ser frem til at få dig til at føle dig forfrisket og selvsikker med dit nye look.</p>
                        <a href="/Book" class="btn btn-default btn-colored">Bestil Online</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- SECTION 3 -->
    <!-- SECTION 4 - COUNTERS -->
    <section class="counters space">
        <div class="container">
            <div class="row">
                <div class="section-headline">
                    <h3>Anova Salon</h3>
                    <p>Vores klipningsgalleri</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <div class="countbox">
                        <img src="/img/home/gallery1.png" alt="Hair Cut">
                        <p>Herre Klip</p>
                    </div>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="countbox">
                        <img src="/img/home/gallery2.png" alt="Hair Cut">
                        <p>Dame klip</p>
                    </div>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="countbox">
                        <img src="/img/home/gallery3.png" alt="Hair Cut">
                        <p>Herre Klip</p>
                    </div>
                </div>

                <div class="col-xs-6 col-md-3">
                    <div class="countbox">
                        <img src="/img/home/gallery4.png" alt="Hair Cut">
                        <p>Herre Klip</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="text-center">
                    <a href="/book" class="btn btn-default btn-colored">Bestil Online</a>
                    @* <a href="#" class="btn btn-bordered btn-grey">Read More</a> *@
                </div>
            </div>
        </div>
    </section>
    <!-- // SECTION 4 -->
    <!-- SECTION 5 - SERVICES -->
    @* <section class="services-section space">
        <div class="container">
            <div class="row">
                <div class="section-headline">
                    <h3>Vores tjenester</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="iconbox style5">
                        <div class="icon">
                            <img src="img/icon1.png" width="35" height="41" alt="About the image">
                        </div>

                        <h4>Hair Cuting</h4>
                        <p>Donec adipiscing tincidunt porta Pellentesque vestibulum risus.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="iconbox style5">
                        <div class="icon">
                            <img src="img/icon2.png" width="35" height="41" alt="About the image">
                        </div>

                        <h4>Hair Dry</h4>
                        <p>Donec adipiscing tincidunt porta Pellentesque vestibulum risus.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="iconbox style5">
                        <div class="icon">
                            <img src="img/icon3.png" width="35" height="41" alt="About the image">
                        </div>

                        <h4>Face Wash</h4>
                        <p>Donec adipiscing tincidunt porta Pellentesque vestibulum risus.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="iconbox style5">
                        <div class="icon">
                            <img src="img/icon4.png" width="35" height="41" alt="About the image">
                        </div>

                        <h4>Beard Shaving</h4>
                        <p>Donec adipiscing tincidunt porta Pellentesque vestibulum risus.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="iconbox style5">
                        <div class="icon">
                            <img src="img/icon5.png" width="35" height="41" alt="About the image">
                        </div>

                        <h4>Hair Color</h4>
                        <p>Donec adipiscing tincidunt porta Pellentesque vestibulum risus.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="iconbox style5">
                        <div class="icon">
                            <img src="img/icon6.png" width="35" height="41" alt="About the image">
                        </div>

                        <h4>Hair Styling</h4>
                        <p>Donec adipiscing tincidunt porta Pellentesque vestibulum risus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> *@ 
    <!-- // SECTION 5 -->
    <!-- SECTION 6 - GALLERY -->
    @* <section class="gallery">
        <h3 class="hidden">Gallery Items</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="gallery-item">
                    <img src="/img/Services/Services_1.png" alt="Hair Cut">
                    <div class="caption">
                        <p>Balayage</p>
                    </div>
                    <div class="meta">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="/img/Services/Services_1.png" alt="Hair Cut">
                    <div class="caption">
                        <p>Special for Occasions</p>
                    </div>
                    <div class="meta">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="/img/Services/Services_1.png" alt="Hair Cut">
                    <div class="caption">
                        <p>Hairstyle for evening</p>
                    </div>
                    <div class="meta">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="/img/Services/Services_1.png" alt="Hair Cut">
                    <div class="caption">
                        <p>Wedding hair cut</p>
                    </div>
                    <div class="meta">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
                <div class="gallery-item">
                    <img src="/img/Services/Services_1.png" alt="Hair Cut">
                    <div class="caption">
                        <p>Prom Hairstyle</p>
                    </div>
                    <div class="meta">
                        <a href="#"><i class="fa fa-link"></i></a>
                        <a href="#"><i class="fa fa-heart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section> *@ 
    <!-- // SECTION 6 -->
    <!-- SECTION 7 - TESTIMONIALS -->
    <section class="testimonials space" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="section-headline">
                        <h3>Customer Testimonials</h3>
                        <p>Checkout What customers saying</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="owl-carousel testimonials-slider">

                        <!-- SLIDE -->
                        <div>
                            <div class="testimonial style3">
                                <p>“ I'm always trying to push the envelope and go with a different <br> hairstyle that you're not going to see on anybody else. I have a really good grade of hair. ”</p>
                                <h4>Zawia</h4>
                            </div>
                        </div>

                        <!-- SLIDE -->
                        <div>
                            <div class="testimonial style3">
                                <p>“ I'm always trying to push the envelope and go with a different <br> hairstyle that you're not going to see on anybody else. I have a really good grade of hair. ”</p>
                                <h4>Zawia</h4>
                            </div>
                        </div>

                        <!-- SLIDE -->
                        <div>
                            <div class="testimonial style3">
                                <p>“ I'm always trying to push the envelope and go with a different <br> hairstyle that you're not going to see on anybody else. I have a really good grade of hair. ”</p>
                                <h4>Zawia</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // SECTION 7 -->
    <!-- SECTION 8 - SHOP -->
    @* <section class="shop space" style="display:none;">
        <div class="container">
            <div class="row">
                <div class="section-headline">
                    <h3>Our Barber Shop</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="post">
                        <img src="http://dummyimage.com/1895x1000" alt="About the image">
                        <div class="align">
                            <h3>Beware of current promotions</h3>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation mcorpe suscipit lobortis Nulla facilisi. Proin aliquet luctus massa sitamet bte sodales. Sed dictum nisl et cursus ullamcorper</p>
                            <a href="/book" class="btn btn-default btn-colored">Bestil Online</a>
                            <a href="#" class="btn btn-bordered btn-dark">Read More</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="post">
                        <img src="http://dummyimage.com/1895x1000" alt="About the image">
                        <div class="align">
                            <h3>You want your hairs to look fabelous</h3>
                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation mcorpe suscipit lobortis Nulla facilisi. Proin aliquet luctus massa sitamet bte sodales. Sed dictum nisl et cursus ullamcorper</p>
                            <a href="/book" class="btn btn-default btn-colored">Bestil Online</a>
                            <a href="#" class="btn btn-bordered btn-dark">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> *@
    <!-- // SECTION 8 -->

    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 space-mb">
                        <h4>Om Os</h4>
                        <p>
                            Salon Anova,<BR />
                            Address: Amagerbrogade 219, 2300 København S
                        </p>
                        <span class="contact"><i class="fa fa-phone"></i>+45 41 42 33 33</span>
                    </div>
                    <div class="col-md-4 space-mb">
                        <h4 style="display:none;">Photo Stream</h4>
                        <div class="stream">
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                            @* <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a> *@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Følg os</h4>
                        <ul class="social">
                            <li><a href="#" style="display:none;"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" style="display:none;"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com/beauty_salon_anova?igsh=a3ZrMGF1YWxicnMy"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <p>© Zawia</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JQUERY / PLUGINS -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/owl.carousel.min.js"></script>
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="js/vendor/circle-progress.js"></script>

    <!-- MAIN JS FOLDER -->
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>
</body>
</html>
