<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Anova | Priser</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i|Oswald:400,700" rel="stylesheet">

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/components.css">
    <link rel="stylesheet" href="css/pages.css">

    <!-- MODERNIZR -->
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body class="about">
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- PRELOADER -->
    <div id="preloader">
        <div class="spinner"></div>
    </div>
    <!-- // PRELOADER -->

    <header>
        <!-- NAVBR -->
        <nav class="navbar navbar-default">
            <div class="container">

                <!-- NAVBAR BRAND AND HAMBURGER ICON -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        <img alt="Anova's Logo" src="img/logo.png">
                    </a>
                </div>

                <!-- NAVBAR LINKS -->
                <div class="collapse navbar-collapse navbar-right" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="home">Home</a></li>
                        <li class="active"><a href="price">Priser</a></li>
                        @* <li><a href="gallery">Gallery</a></li> *@
                        @*<li><a href="services">Services</a></li>*@
                        @* <li><a href="contact">Kontakt</a></li> *@
                        <li><a href="book">Bestil Online</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <!-- SECTION 1 - HERO TITLE -->
    <section class="hero-title" style="background-image: url('/img/home/background2.png');">
        <div class="container">
            <div class="row">
                <h2>Priser</h2>
            </div><!-- // .row -->
        </div><!-- // .container -->
    </section>
    <!-- // SECTION 1 -->
    @* <!-- SECTION 2 - OM OS US -->
    <section class="aboutus space">
    <div class="container">
    <div class="row">
    <div class="col-md-6">
    <h3>Den hotteste frisure</h3>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Nulla facilisi. Proin aliquet luctus massa sit amet sodales. Sed dictum nisl et cursus ullamcorper tellus lectus fermentum nisleu cilisis magna nibh eget massa ed laoreet egestas ligula et facilisis.</p>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Nulla facilisi. Proin aliquet luctus massa sit amet sodales. Sed dictum nisl et cursus ullamcorper tellus lectus fermentum nisleu cilisis magna nibh eget massa ed laoreet egestas ligula et facilisis.</p>
    </div>
    <div class="col-md-6">
    <h3>Best Hairdresser</h3>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Nulla facilisi. Proin aliquet luctus massa sit amet sodales. Sed dictum nisl et cursus ullamcorper tellus lectus fermentum nisleu cilisis magna nibh eget massa ed laoreet egestas ligula et facilisis.</p>
    <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis Nulla facilisi. Proin aliquet luctus massa sit amet sodales. Sed dictum nisl et cursus ullamcorper tellus lectus fermentum nisleu cilisis magna nibh eget massa ed laoreet egestas ligula et facilisis.</p>
    </div>
    </div>
    </div>
    </section>
    <!-- // SECTION 2 --> *@

    @* <!-- SECTION 3 - NUMBERS -->
    <section class="numbers space space-dark" style="display:none;">
    <div class="container">
    <div class="row">
    <div class="col-sm-6 col-md-3">
    <div class="progress-item">
    <div class="progress-circle" data-value="0.5"></div>
    <strong>50%</strong>
    <h4>bedste udseende</h4>
    <p>Donec adipiscing tincidunt po Pellentesque vestib risus.</p>
    </div>
    </div>

    <div class="col-sm-6 col-md-3">
    <div class="progress-item">
    <div class="progress-circle" data-value="0.75"></div>
    <strong>75%</strong>
    <h4>Happy people</h4>
    <p>Donec adipiscing tincidunt po Pellentesque vestib risus.</p>
    </div>
    </div>

    <div class="col-sm-6 col-md-3">
    <div class="progress-item">
    <div class="progress-circle" data-value="0.27"></div>
    <strong>27%</strong>
    <h4>Cups of cofee</h4>
    <p>Donec adipiscing tincidunt po Pellentesque vestib risus.</p>
    </div>
    </div>

    <div class="col-sm-6 col-md-3">
    <div class="progress-item">
    <div class="progress-circle" data-value="0.63"></div>
    <strong>63%</strong>
    <h4>Repeat clients</h4>
    <p>Donec adipiscing tincidunt po Pellentesque vestib risus.</p>
    </div>
    </div>
    </div>
    </div>
    </section>
    <!-- // SECTION 3 --> *@

    <!-- SECTION 3 - CLIENTS -->
    @*   <section class="clients space">
    <div class="container">
    <div class="row">
    <div class="col-xs-12">
    <div class="section-headline">
    <h3>Our partners and providers</h3>
    <p>Checkout our haircuts gallery</p>
    </div>
    </div>
    </div>

    <div class="row">
    <div class="col-sm-4 col-md-2">
    <img src="http://dummyimage.com/300x150" alt="About the image">
    </div>
    <div class="col-sm-4 col-md-2">
    <img src="http://dummyimage.com/300x150" alt="About the image">
    </div>
    <div class="col-sm-4 col-md-2">
    <img src="http://dummyimage.com/300x150" alt="About the image">
    </div>

    <div class="col-sm-4 col-md-2">
    <img src="http://dummyimage.com/300x150" alt="About the image">
    </div>
    <div class="col-sm-4 col-md-2">
    <img src="http://dummyimage.com/300x150" alt="About the image">
    </div>
    <div class="col-sm-4 col-md-2">
    <img src="http://dummyimage.com/300x150" alt="About the image">
    </div>
    </div>
    </div>
    </section> *@
    <!-- // SECTION 3 -->
    <!-- SECTION 4 - TEAM -->
    @* <section class="space">
    <div class="container">
    <div class="row">
    <div class="section-headline">
    <h3>Awesome Barbers</h3>
    </div>
    </div>
    <div class="row">
    <div class="col-md-3">
    <article class="person style1">
    <img src="http://dummyimage.com/400x500" alt="Person's Name">
    <div class="person-caption">
    <h4>Reena Scot</h4>
    <p>Hair Dresser</p>
    </div>

    <ul class="person-social">
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    </article>
    </div>

    <div class="col-md-3">
    <article class="person style1">
    <img src="http://dummyimage.com/400x500" alt="Person's Name">
    <div class="person-caption">
    <h4>Jessica Brown</h4>
    <p>Mackup Artist</p>
    </div>

    <ul class="person-social">
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    </article>
    </div>

    <div class="col-md-3">
    <article class="person style1">
    <img src="http://dummyimage.com/400x500" alt="Person's Name">
    <div class="person-caption">
    <h4>Sarah William</h4>
    <p>Skin Master</p>
    </div>

    <ul class="person-social">
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    </article>
    </div>

    <div class="col-md-3">
    <article class="person style1">
    <img src="http://dummyimage.com/400x500" alt="Person's Name">
    <div class="person-caption">
    <h4>Ellene Jhon</h4>
    <p>Hair Stylist</p>
    </div>

    <ul class="person-social">
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
    </ul>
    </article>
    </div>
    </div>
    </div>
    </section> *@
    <!-- // SECTION 4 -->
    <!-- SECTION 5 -->
    <section class="space space-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="price-table">
                        <!-- PRICE TABLE HEADING -->
                        <h4>Herre Klipning</h4>

                        <!-- PRICE TABLE FEATURES-->
                        @* <ul class="list list-check-circle">
                        <li>15 Projects</li>
                        <li>30 GB Storage</li>
                        <li>Data Transfer</li>
                        <li>50 GB Bandwith</li>
                        <li>Enhanced Security</li>
                        </ul> *@

                        <!-- PRICE -->
                        <p class="price">
                            <span class="currency">DKK</span>150<span class="date"></span>
                        </p>

                        <!-- PRICE TABLE BUTTON -->
                        @* <a href="/Book" class="btn btn-bordered btn-dark">Bestil online</a> *@
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="price-table">
                        <!-- PRICE TABLE HEADING -->
                        <h4>Børne Klipning</h4>

                        <!-- PRICE TABLE FEATURES-->
                        @* <ul class="list list-check-circle">
                        <li>15 Projects</li>
                        <li>30 GB Storage</li>
                        <li>Data Transfer</li>
                        <li>50 GB Bandwith</li>
                        <li>Enhanced Security</li>
                        </ul> *@

                        <!-- PRICE -->
                        <p class="price">
                            <span class="currency">DKK</span>120
                        </p>

                        <!-- PRICE TABLE BUTTON -->
                        @* <a href="/Book" class="btn btn-bordered btn-dark">Bestil online</a> *@
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="price-table">
                        <!-- PRICE TABLE HEADING -->
                        <h4>Pensionist</h4>

                        <!-- PRICE TABLE FEATURES-->
                        @* <ul class="list list-check-circle">
                        <li>15 Projects</li>
                        <li>30 GB Storage</li>
                        <li>Data Transfer</li>
                        <li>50 GB Bandwith</li>
                        <li>Enhanced Security</li>
                        </ul> *@

                        <!-- PRICE -->
                        <p class="price">
                            <span class="currency">DKK</span>100
                        </p>

                        <!-- PRICE TABLE BUTTON -->
                        @* <a href="/Book" class="btn btn-bordered btn-dark">Bestil online</a> *@
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="price-table">
                        <!-- PRICE TABLE HEADING -->
                        <h4>Dame Klip kørt Hør</h4>

                        <!-- PRICE TABLE FEATURES-->
                        @*   <ul class="list list-check-circle">
                        <li>15 Projects</li>
                        <li>30 GB Storage</li>
                        <li>Data Transfer</li>
                        <li>50 GB Bandwith</li>
                        <li>Enhanced Security</li>
                        </ul> *@

                        <!-- PRICE -->
                        <p class="price">
                            <span class="currency">DKK</span>180
                        </p>

                        <!-- PRICE TABLE BUTTON -->
                        @* <a href="#" class="btn btn-bordered btn-dark">Bestil online</a> *@
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-3">
                    <div class="price-table">
                        <!-- PRICE TABLE HEADING -->
                        <h4>Dame Klip Langt hør med vask</h4>

                        <!-- PRICE TABLE FEATURES-->
                        @*   <ul class="list list-check-circle">
                        <li>15 Projects</li>
                        <li>30 GB Storage</li>
                        <li>Data Transfer</li>
                        <li>50 GB Bandwith</li>
                        <li>Enhanced Security</li>
                        </ul> *@

                        <!-- PRICE -->
                        <p class="price">
                            <span class="currency">DKK</span>250
                        </p>

                        <!-- PRICE TABLE BUTTON -->
                        @* <a href="#" class="btn btn-bordered btn-dark">Bestil online</a> *@
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="price-table">
                        <!-- PRICE TABLE HEADING -->
                        <h4>Mullet Fade</h4>

                        <!-- PRICE TABLE FEATURES-->
                        @* <ul class="list list-check-circle">
                        <li>15 Projects</li>
                        <li>30 GB Storage</li>
                        <li>Data Transfer</li>
                        <li>50 GB Bandwith</li>
                        <li>Enhanced Security</li>
                        </ul> *@

                        <!-- PRICE -->
                        <p class="price">
                            <span class="currency">DKK</span>170
                        </p>

                        <!-- PRICE TABLE BUTTON -->
                        @* <a href="/Book" class="btn btn-bordered btn-dark">Bestil online</a> *@
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="price-table">
                        <!-- PRICE TABLE HEADING -->
                        <h4>Herre Fade</h4>

                        <!-- PRICE TABLE FEATURES-->
                        @* <ul class="list list-check-circle">
                        <li>15 Projects</li>
                        <li>30 GB Storage</li>
                        <li>Data Transfer</li>
                        <li>50 GB Bandwith</li>
                        <li>Enhanced Security</li>
                        </ul> *@

                        <!-- PRICE -->
                        <p class="price">
                            <span class="currency">DKK</span>170
                        </p>

                        <!-- PRICE TABLE BUTTON -->
                        @* <a href="/Book" class="btn btn-bordered btn-dark">Bestil online</a> *@
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- // SECTION 5 -->

    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 space-mb">
                        <h4>Vores Priser</h4>
                        <p>
                            Salon Anova,<BR />
                            Address: Amagerbrogade 219, 2300 København S
                        </p>
                        <span class="contact"><i class="fa fa-phone"></i>+45 41 42 33 33</span>
                    </div>
                    <div class="col-md-4 space-mb">
                        <h4>Photo Stream</h4>
                        <div class="stream" style="display:none;">
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                            <a href="gallery-detail.html"><img src="http://dummyimage.com/200x200" alt="About the image"></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h4>Følg os</h4>
                        <ul class="social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <p>© Zawia</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- JQUERY / PLUGINS -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/owl.carousel.min.js"></script>
    <script src="js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="js/vendor/circle-progress.js"></script>

    <!-- MAIN JS FOLDER -->
    <script src="js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>
</body>
</html>
